<!-- app/views/currency_conversion/index.html.erb -->

  <div class="greeting">
    <% current_time = Time.now %>
    <% if current_time.hour < 12 %>
      Good Morning, <%= session[:first_name] %> !
    <% elsif current_time.hour < 18 %>
      Good Afternoon, <%= session[:first_name] %> !
    <% else %>
      Good Evening, <%= session[:first_name] %> !
    <% end %>
  </div>

<%= form_tag(convert_currency_path, method: 'post') do %>
  <%= label_tag 'Base Currency' %>
  <%= select_tag 'from_currency', options_for_select(CurrencyConstants::AVAILABLE_CURRENCIES) %>

  <%= label_tag 'Target Currency' %>
  <%= select_tag 'to_currency', options_for_select(CurrencyConstants::AVAILABLE_CURRENCIES) %>

  <%= label_tag 'Amount' %>
  <%= text_field_tag 'amount' %>

  <%= submit_tag 'Convert' %>
<% end %>

<%= link_to 'Log Out', signout_path, method: :delete, class: 'btn' %>